<h1>Stupid Coaching</h1>
<div>
<p>Ask your coach anything:
</p>
<div class="form">
<form action="/answer" data-turbo="false">
<div class="input-group mb-3">
  <input type="text" name = "question" class="form-control"  aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="submit" value="ask!" id="button-addon2">Ask!</button>
</div>
</form>
</div>
